.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

/.quarto/
/docs
/_site
/*_files/
/site_libs
*.html
_freeze/
bw/Washington_School_Districts_2024_-4175815888016171677.zip
bw/data/Report_Card_WaKids_2023-24_School_Year_20250403.csv
